<!DOCTYPE html>
<html>
<head>
  <title>Dobby in Zuker Houses</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "icon.png" %>
  <meta property="og:title" content="Zuker租客" />
  <meta property="og:url" content="http://dobby.zuker.com.tw" />
  <meta property="og:image" content="<%= asset_path('icon.png') %>" />
  <meta property="og:description" content="Zuker租屋小精靈" />
  <meta property="og:type" content="website" />
</head>
<body class="<%= controller_name %> <%= action_name %>">
<div class="container">
  <%= yield %>
</div>
</body>
</html>
